In [ ]:
import pandas as pd

In [ ]:
df_01 = pd.DataFrame({'name': ['Mehmet', 'Ahmet', 'Ali'],
                      'score': [100, 50, 75],
                      'class':['1st', 'KD', '2nd']})

df_01.ix[0], df_01.loc[0]

In [ ]:
#df_01.index = df_01['name']
#df_01.set_index(['name'])

In [55]:
df_01.loc['Mehmet'].name

'Mehmet'

In [56]:
df_01['lastname'] = ['can', 'tek', 'koc']
df_01.set_index(['name','lastname'])
df_01

       class    name  score lastname
name
Mehmet   1st  Mehmet    100      can
Ahmet     KD   Ahmet     50      tek
Ali      2nd     Ali     75      koc