In [60]:
import pandas as pd

In [61]:
df_01 = pd.DataFrame({'name': ['Mehmet', 'Ahmet', 'Ali'],
                      'score': [100, 50, 75],
                      'class':['1st', 'KD', '2nd']})

df_01.ix[0]

class       1st
name     Mehmet
score       100
Name: 0, dtype: object

In [62]:
df_01.loc[0]

class       1st
name     Mehmet
score       100
Name: 0, dtype: object

In [63]:
#df_01.index = df_01['name']
df_01.set_index(['name'], inplace=True)
df_01

       class  score
name
Mehmet   1st    100
Ahmet     KD     50
Ali      2nd     75

In [64]:
for index in df_01.index:
    print (index)

Mehmet
Ahmet
Ali

# df_01.loc['Mehmet']['class']

In [65]:
df_01['lastname'] = ['can', 'tek', 'koc']
df_01 = df_01.reset_index()
df_01

     name class  score lastname
0  Mehmet   1st    100      can
1   Ahmet    KD     50      tek
2     Ali   2nd     75      koc

In [66]:
df_01.set_index(['name','lastname'], inplace=True)
df_01

                class  score
name   lastname
Mehmet can        1st    100
Ahmet  tek         KD     50
Ali    koc        2nd     75

In [67]:
df_01['class']

name    lastname
Mehmet  can         1st
Ahmet   tek          KD
Ali     koc         2nd
Name: class, dtype: object

In [68]:
dict_01 = dict()
dict_01['ali'] = 10
dict_01['tom'] = 9
dict_01

{'ali': 10, 'tom': 9}

In [69]:
dict_01['ali']

10

In [70]:
dict_01.get('ali')

10

In [71]:
dict_01.get('veli', 0)

0

In [1]:
bi_weekly = 6202
yearly = 26*bi_weekly
yearly

161252